<% @posts.each do |post| %>
  <div class="post <%= post == @posts.first ? "col-sm-12" : "col-sm-6" %>">
    <div class="post-content <%= post == @posts.first ? "" : "others" %>">
      <h1><%= post.title %></h1>

      <p class="subtitle"><%= post.subtitle %></p>

      <div class="image">
        <%= image_tag post.image.url(:normal), class: "post-image" %>
      </div>

      <div class="content <%= post == @posts.first ? "first" : "others" %>">
        <p>
          <%= post.content %>
        </p>
      </div>
    </div>
  </div>
<% end %>
