<h1>Meus posts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>subtitulo</th>
      <th>Imagem</th>
      <th>Conteúdo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.subtitle %></td>
        <td><%= image_tag post.image.url(:thumb) %></td>
        <td>
          <div class="truncate">
            <%= post.content %></td>
          </div>
        </td>
        <td><%= link_to "Editar", edit_admin_post_path(post) %></td>
        <td><%= link_to "Apagar", admin_post_path(post), data: {:confirm => 'Tem certeza?'}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
